{% ckan_extends %}

{% block footer_content %}
  <nav class="footer-nav">
    {% block footer_nav %}
      <ul class="unstyled">
        <li><a href="http://54.204.35.58/about">{{ _('About') }}</a></li>
        <li><a href="http://54.204.35.58/accessibility">{{ _('Accessibility') }}</a></li>
        <li><a href="http://54.204.35.58/contact-us">{{ _('Contact Us') }}</a></li>
        <li><a href="http://54.204.35.58/data-policy">{{ _('Data Policy') }}</a></li>
        <li><a href="http://54.204.35.58/faq">{{ _('FAQ') }}</a></li>
        <li><a href="http://54.204.35.58/privacy-policy">{{ _('Privacy Policy') }}</a></li>
        <li><a href="http://54.204.35.58/sitemap">{{ _('Sitemap') }}</a></li>
        <li><a href="http://www.usa.gov">{{ _('USA.gov') }}</a></li>
      </ul>
    {% endblock %}
    <img src="http://54.204.35.58/sites/all/themes/datagov/images/datagov-footer-logo.png" alt="{{ _('Data.gov') }}">
  </nav>
  {#
    {% block footer_lang %}
      {% snippet "snippets/language_selector.html" %}
    {% endblock %}
  #}

  {% if not g.debug %}
    {% snippet "snippets/webtrends.html" %}
  {% endif %}

{% endblock %}
